* {
  margin: 0;
}
.first-page {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
